---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Feb 2026 - Present",
    title: "AI Backend Engineer",
    company: "Flexzo AI",
    description:
      "Applying AI solutions to web platforms, building backend services and integrations that bring intelligence into real product workflows.",
    link: "https://flexzo.ai",
  },
  {
    date: "Feb 2021 - Jan 2026",
    title: "Software Engineer",
    company: "Veridas",
    description:
      "Design and maintenance of microservices for voice biometrics AI solutions. DevOps focus with CI/CD, GitLab pipelines, and backend development using Python, FastAPI, Flask, and Docker.",
    link: "https://veridas.com",
  },
  {
    date: "Sep 2022 - Jan 2026",
    title: "Trainer at Albañiles Digitales",
    company: "Servicio Navarro de Empleo",
    description:
      "Teaching basic Software Development concepts and Core JavaScript as part of a training program to help people transition into the tech industry.",
    link: "https://veridas.com/es/albaniles-digitales/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
