---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Feb 2021 - Present",
    title: "Software Engineer",
    company: "Veridas",
    description:
      "Design and maintenance of microservices for voice biometrics AI solutions. DevOps focus with CI/CD, GitLab pipelines, and backend development using Python, FastAPI, Flask, and Docker.",
    link: "https://veridas.com",
  },
  {
    date: "Sep 2022 - Present",
    title: "Trainer at Albañiles Digitales",
    company: "Servicio Navarro de Empleo",
    description:
      "Teaching basic Software Development concepts and Core JavaScript as part of a training program to help people transition into the tech industry.",
    link: "https://veridas.com/es/albaniles-digitales/",
  },
  {
    date: "2016 - 2020",
    title: "Tennis and Paddle Instructor",
    company: "Various Sports Clubs",
    description:
      "Developed strong communication skills by teaching sports, making complex concepts easy to understand.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
