<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="inline-flex items-center justify-center gap-2 px-4 py-1.5 transition-colors border rounded-full text-[var(--text)] bg-[var(--surface)] border-[var(--border)] text-md hover:bg-[var(--surface-2)] hover:border-[var(--accent-soft)] hover:text-[var(--text)] group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-[var(--accent)]/40 focus-visible:ring-offset-2"
>
  <slot />
</a>
